<html>

  <body>

<h2 style="text-align: center;" data-fontsize="20" data-lineheight="27">LightPass</h2>
<h1 style="text-align: center;" data-fontsize="50" data-lineheight="48">Acheter en ligne n’a jamais été aussi simple</h1>

<h2 style="text-align: center;" data-fontsize="20" data-lineheight="27">LightPass est le premier système permettant de vous connecter<br>
sur les sites de e-commerce sans passer par la case inscription.<br>
Il révolutionne la manière de faire vos achats en vous apportant<br>
sécurité et gain de temps simultanément.</h2>

<p style="text-align: center"><img src="http://lightpass.fr/wp-content/uploads/2015/12/demo1.png" alt="" align="middle">
</p>

  </body>

</html>
